@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins;
    
}
@keyframes pastelBackground {
    0% {
      background-color: #ffdddd;
    }
    25% {
      background-color: #ddffdd;
    }
    50% {
      background-color: #ddddff;
    }
    75% {
      background-color: #ffffdd;
    }
    100% {
      background-color: #ffdddd;
    }
  }
  
  body {
    animation: pastelBackground 20s infinite;
    transition: background-color 10s ease;
  }

.image-uploader {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-uploader h2 {
    font-size: 2rem;
}

.image-uploader input[type="file"] {
    margin-top: 50px;
    font-size: 2rem;
}
.image-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-display .btn-download {
    margin-top: 50px;
    font-size: 2rem;
}
input#file-upload-button {
    background-color: red;
} 
